@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;500;600;700&family=Kanit:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;500;600;700&family=Kanit:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Tilt+Neon&display=swap');

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --separator: rgb(219, 219, 219);
  --text-background: rgb(239, 239, 239);
  --text-level: 95px;
  --intro-bg: #f3abb7;
  --intro-bg-darken: #b57f88;
  --intro-bg-dark: #f14c68;
  --intro-bg-light: #ffc8d2;
  --intro-green: #829b65;
  --color-bg: #e5e5e5;
  --color-bg-dark: #797979;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}